---
export const prerender = true;

import { getCollection } from "astro:content";
import createSlug from "../../lib/createSlug";
import Layout from "../../layouts/Layout.astro";
import type { CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const projects = await getCollection("stories");
  return projects.map((p) => ({
    params: { slug: createSlug(p.data.title) },
    props: p,
  }));
}

type Props = CollectionEntry<"stories">;

const props = Astro.props;
const { data } = props;
const { Content } = await props.render();
---

<Layout title={data.title}>
  <div class="page container">
    <div class="content">
      <img src={`/assets/stories/desktop/${data.image}`} alt={data.title} />
      <div>
        <h1>{data.title}</h1>
        <h3 class="author">by {data.author}, {data.date}</h3>
        <Content />
      </div>
    </div>
  </div>
</Layout>

<style>
  .page {
    padding-block: 2rem;
  }

  .author {
    font-size: 14px;
    color: gray;
    margin-bottom: 2rem;
  }

  img {
    max-width: 300px;
    margin-inline: auto;
  }

  .content {
    display: flex;
    gap: 3rem;
    flex-direction: column;
  }

  @media (min-width: 768px) {
    .content {
      flex-direction: row;
    }
  }
</style>
